.add-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info-form h2 {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  gap: 20px;
}
