.nav-container {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  background: wheat;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  gap: 65px;
  margin: 0;
}

.nav-bar ul li {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100px;
}

.nav-bar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-bar h2 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  color: rgb(187, 0, 255);
}

.nav-bar a {
  text-decoration: none;
  color: rgb(187, 0, 255);
}

.nav-bar a:hover {
  color: blue;
}
